@import 'leaflet/dist/leaflet.css';
#root {
  max-width: 100vw;
  /* background-color: aquamarine; */
  font-family: sans-serif;
}

.banner-section {
  height: 100vh;
}

.banner-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/banner-bg.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.page_banner-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/page-banner.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}
